body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10.5pt;
  line-height: 1.25;
  color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin: 0 0 2pt 0;
  padding: 0;
  letter-spacing: 0.5pt;
}

/* Contact info line immediately after name */
h1 + p {
  text-align: center;
  font-size: 10pt;
  margin: 0 0 0 0;
  padding: 0;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1.5px solid #000;
  margin: 6pt 0 3pt 0;
  padding-bottom: 1pt;
  letter-spacing: 0.3pt;
}

p {
  margin: 3pt 0 0 0;
}

ul {
  margin: 1pt 0 2pt 0;
  padding-left: 20pt;
}

li {
  margin: 1pt 0;
  list-style-type: disc;
}

li::marker {
  font-size: 1em;
}

a {
  color: #1155cc;
  text-decoration: underline;
}
